#Statistics {
  .graph {
    display: flex;
    li {
      flex: 1;
      display: flex;
      border: 1px solid #e4e4e4;
      cursor: pointer;
      min-height: 90px;
      background: #fff;
      text-align: left;
      font-size: 14px;
      color: #666;
      position: relative;
      box-shadow: 0 2px 0 rgba(225, 225, 225, 0.2);
    }
    li.active {
      background-color: #F4F4F4;
    }
    li:not(:first-child) {
      margin-left: -1px;
    }
    li .Polygon {
      width: 100%;
      height: 60px;
      align-self: flex-end;
    }

    li .desc {
      position: absolute;
      padding: 10px 10px 0;
      display: flex;
      flex-direction: column;
    }
    li .desc .title {
      display: block;
      font-size: 14px;
      color: #666;
    }
    li .desc .subtitle {
      font-size: 12px;
      line-height: 12px;
      color: #999;
      padding: 6px 0 2px;
    }
    li .desc .quantity {
      font-size: 30px;
      color: #666;
      line-height: 34px;
    }
  }
}